.item-detail-container {
    border: solid 2px #00166e;
}

img {
    padding: 5%;
    border-radius: 10%;
}

#h2-title {
    margin-top: 1rem;
}
#h3-price {
    font-weight: bold;
    font-size: 3rem;
}

#h4-description {
    margin-top: 5%;
    width: 80%;
    font-size:1rem;
    text-align: center;
    margin: 0 auto;
}

.item-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 22, 110, 0.5);
}