h2 {
    text-align: center;
    font-size: 1.5rem;
}

.item-list-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.item-card {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 15rem;
    height: 20rem;
    margin: 2rem;
    border: solid 3px #00166e;
    border-bottom: solid 10px #586496;
}
.item-card-inf {
    border-top: solid 3px #586496;
}
.item-card-h3{
    font-size: 0.8rem;
    width: 60%;
}
.img-container {
    width: 7rem;
}
img {
    width: 100%;
}
h4{
    margin-bottom: 1rem;
}