* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ParalucentBold;
    src: url(../../assets/ParalucentBold.otf);
}

@font-face {
    font-family: ParalucentBook;
    src: url(../../assets/ParalucentBook.ttf);
}

nav {
    height: 3rem;
    background-color: #00092D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
}

.nav-brand {
    color: #F5F2F8;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ParalucentBold';
}

.nav-brand img {
    padding-left: 2rem;
    margin-right: 2rem;
    width: 4rem;
}

.nav-brand h1 {
    font-size: 2rem;
}

.nav-right {
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    font-family: 'ParalucentBook';
}

.nav-right ul li {
    list-style-type: none;
    font-size: 0.8rem;
}

.nav-right ul li a {
    color: #F5F2F8;
    text-decoration: none;
    transition: color 1s;
}

.nav-right ul li a:hover{
    color: #4820E4;
}